.login-container{
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.login-panel{
  background-color: whitesmoke;
  align-self: center;
  height: 80vh;
  width: 25vw;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: -12px 13px 0px 0px black;
  display: flex;
  justify-content: center;
}
.login-content{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding:0 5%;
  text-align: center;
}
.saveSessionId-flex{
  display: flex;
  justify-content: flex-end;
}
.login-content hr{
  margin:5% 0;
  width: 80%;
}
.login-content small{
  color:red;
}
label.saveSessionId-label{
  font-size: 12px;
}
input.sessionId-input{
  border-radius: 7px;
  width: 200px;
  margin: 5px;
}
button.login-panel-btn{
  background-color: greenyellow;
  width: 27%;
  margin-top: 2%;
}
@media (max-width: 1024px){
  .login-panel{
    width: 33vw;
  }
}
@media (max-width: 796px){
  .login-panel{
    width: 65vw;
  }
}