:root{
  --NAVBAR-HEIGHT: 0vh;
  --TRACK-HEIGHT: 100px;
  --TRACK-INFO-HEIGHT: calc(var(--TRACK-HEIGHT) / 3);
}
.App {
  text-align: left;
}

button{
  color: black;
  background-color: #adff2f50;
  border-radius: 15px;
  border-color: #adff2f50;
  border-style: solid;
  transition: color .15s 
    ease-in-out,background-color .15s 
    ease-in-out,border-color .15s 
    ease-in-out,box-shadow .15s 
    ease-in-out;
}
button:hover {
  cursor: pointer;
}
.row {
  display: flex;
}

.col {
  text-align: center;
  flex: 1;  
}

.row.layout{
  height:calc(100vh - var(--NAVBAR-HEIGHT))
}
/* Main Layout components */
.col.layout.playlist{
  text-align: left;
  flex: 1; 
  overflow-y:scroll;
  background-color: palegreen;
} 
.col.layout.playlist::-webkit-scrollbar-track
{
	border-radius: 4px;
	background-color: #F5F5F5;
}

.col.layout.playlist::-webkit-scrollbar
{
	width: 18px;
	background-color: #F5F5F5;
}

.col.layout.playlist::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: greenyellow;
}

@media(max-width: 986px){
  .col.layout.details {
    display:none;
  }
}

@media(max-width: 1024px){
  .col.layout.details {
    background-color: papayawhip;
    flex: 3;
  }
}
@media(max-width:1024px){
  .col.layout.spotify{
    flex: 4;
    height: -webkit-fill-available;
  }
}

@media (max-width: 1024px){
  .col.layout.playlist{
    text-align: left;
    flex: 4; 
    overflow-y:scroll;
    background-color: palegreen;
  }
}

@media (max-width: 425px){
  .row.layout{
    display: flex;
    flex-direction: column-reverse;
  }
}
@media(max-width:425px){
  .col.layout.details{
    display:none;
  }
}
@media(max-width:425px){
  .col.layout.spotify{
    flex: 1;
    background-color: palegreen;
  }
}
@media(max-width:425px){
  .col.layout.playlist{
    flex: 8;
  }
}
@media(max-width:425px){
  .playlist.container{
    box-shadow: none;
  }
}
