:root{
  --TRACK-HEIGHT: 100px;
  --TRACK-INFO-HEIGHT: calc(var(--TRACK-HEIGHT) / 3);
  /* --TRACK-INFO_HEGIHT: 30px */
}
  .App {
  text-align: left;
}
.row {
  display: flex;
}

.col {
  text-align: center;
  flex: 1;  
}

/* Main Layout components */
.col.layout.playlist{
  text-align: left;
  flex: 1; 
  height: 100vh; 
  overflow-y:scroll;
  background-color: palegreen;
}

/* Playlist column styling */
.row.playlist.banner{
  height: 70px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 5px;
  border-radius: 15px;
  background-color: papayawhip;
  border-bottom: 1px solid lightgrey;
}
/* Playlist Banner Styling */
.banner.info.container{
  flex-direction: column;
  padding: 5px;
}
.banner.row{
  display:flex;
}
.banner.row.info{
  font-size: 0.8em;
  justify-content: end
}
img.banner{
  height: 100%;
  width: 25%;
  border-radius: 15px;
}
/* Track styling */
.row.track.container {
  /* border:  1px solid lightgrey; */
  border-bottom: 1px solid lightgrey;
  background-color: #858585;
  height: var(--TRACK-HEIGHT);
  padding: 5px;
  border-radius: 15px;
}
.col.track.left{
  flex: 1;  
}
.col.track.mid {
  text-align: left;
  flex:5 1;
  flex-direction: column;
  align-items: flex-end;
}
.row.track.info{
  height:var(--TRACK-INFO-HEIGHT);
  padding-left: 5px;
}
p.track-info-title{
  font-size: 0.8em;
  color: white;
  margin-block-end: 0px;
}
p.track-info-artist{
  font-size: 0.8em;
  color: lightgrey;
  margin-block-start: 0px;
}
.col.track.checkbox {
  display: flex;
  justify-content: center;
  align-items: center; 
}
h1.heart.save{
  font-size: 3em;
  user-select: none; /* For Chrome and Opera */
  -ms-user-select: none; /* For Internet Edge and Explorer*/
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
}
.album.image{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
audio{
  width: 100%;
  height: auto;
  border-radius: 90px;
}
img.album.image{
  height:100%;
  border-radius: 15px;
}

/* Spotify Columm */
.col.layout.spotify{
  flex: 2
}
.spotify.container{
  height:100vh;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  flex-direction: column;
}
iframe{
  box-shadow: 5px 5px 20px rgba(15, 15, 15, 0.4)
}

/* Workout Column */
.col.layout.details {
  background-color: papayawhip;
  flex: 1;
  padding: 15px;
}
img.workout-detail-album{
  height:350px;
  border-radius: 25px;
  box-shadow: 0 0 20px 7px grey;
}
