:root{
  --NAVBAR-HEIGHT: 0vh;
  --TRACK-HEIGHT: 100px;
  --TRACK-INFO-HEIGHT: calc(var(--TRACK-HEIGHT) / 3);
}
.App {
  text-align: left;
}
.navbar{
  position: fixed;
  width: 100%;
  background-color: #8f8f8f;
  height: 25px;
  z-index: 1;
}
.logout-btn{
  margin: auto;
  width: 5em;
}
.navbar-container{
  padding: 0 2vw;
  text-align: right;
  color: greenyellow

}
.login-container{
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.login-panel{
  background-color: whitesmoke;
  align-self: center;
  height: 80vh;
  width: 25vw;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: -12px 13px 0px 0px black;
  display: flex;
  justify-content: center;
}
.login-content{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding:0 5%;
  text-align: center;
}
input{
  border-radius: 7px;
  width: 200px;
  margin: 5px;
}
button{
  color: black;
  background-color: #adff2f50;
  height: 10%;
  width: 27%;
  border-radius: 15px;
  margin: 0.5em;
  border-color: #adff2f50;
  border-style: solid;
  transition: color .15s 
    ease-in-out,background-color .15s 
    ease-in-out,border-color .15s 
    ease-in-out,box-shadow .15s 
    ease-in-out;
}
button:hover {
  color: white;
  background-color: greenyellow;
}
hr {
  /* flex-grow: 1; */
  margin:10% 0;
  width: 80%; /* or this */
}
.row {
  display: flex;
}

.col {
  text-align: center;
  flex: 1;  
}

.row.layout{
  height:calc(100vh - var(--NAVBAR-HEIGHT))
}
/* Main Layout components */
.col.layout.playlist{
  text-align: left;
  flex: 1; 
  overflow-y:scroll;
  background-color: palegreen;
} 
.col.layout.playlist::-webkit-scrollbar-track
{
	border-radius: 4px;
	background-color: #F5F5F5;
}

.col.layout.playlist::-webkit-scrollbar
{
	width: 18px;
	background-color: #F5F5F5;
}

.col.layout.playlist::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: greenyellow;
}
/* Playlist column styling */
.row.playlist.banner{
  height: 70px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: greenyellow;
  border-bottom: 1px solid lightgrey;
}
.playlist.container{
  margin: 35px 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: -7px 7px 0px 0px black;
}
/* Playlist Banner Styling */
.banner.info.container{
  flex-direction: column;
  padding: 5px;
}
.banner.row{
  display:flex;
}
.banner.row.info{
  font-size: 0.8em;
  justify-content: end
}
img.banner{
  height: 100%;
  width: 20%;
  border-radius: 15px;
  border: 1px solid black;
}
/* Track styling */
.row.track.container:not(:last-child) {
  border-bottom: 1px solid lightgrey;
  background-color: #858585;
  height: var(--TRACK-HEIGHT);
  padding: 5px;
}
.row.track.container:last-child {
  background-color: #858585;
  height: var(--TRACK-HEIGHT);
  padding: 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.col.track.left{
  flex: 1;  
}
.track-display-container{
  flex:5 1;
  margin-left: 1%;
}
.track-display{
  height: 70%;
  display:flex;
}
.track-display-info{
  width:60%
}
.track-display-btns{
  width:40%;
  display: flex;
  padding-bottom:1%;
  justify-content: flex-end;
}
.track-preview-player{
  height: 30%;
}
p.track-info-title{
  font-size: 0.8em;
  color: white;
  margin-block-end: 0px;
}
p.track-info-artist{
  font-size: 0.8em;
  color: lightgrey;
  margin-block-start: 0px;
}
.album.image{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.note-container{
  padding: 5% 2%;
}
svg.note{
  cursor: pointer;
  user-select: none; /* For Chrome and Opera */
  -ms-user-select: none; /* For Internet Edge and Explorer*/
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
}
svg.note.filled{
  color: greenyellow;
}
.heart-container{
  padding: 5% 2%;
}
svg.heart{
  cursor: pointer;
  user-select: none; /* For Chrome and Opera */
  -ms-user-select: none; /* For Internet Edge and Explorer*/
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
}
audio{
  width: 100%;
  height: -webkit-fill-available;
  border-radius: 90px;
}
img.album.image{
  height:100%;
  border-radius: 15px;
  border: 1px solid white;
}

/* Spotify Columm */
.spotify.inner.panel{
  padding-top: 15px;
}
.spotify.container{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  flex-direction: column;
  margin: 35px 0 35px;
  height: -webkit-fill-available;
}
iframe{
  border-right: 1px solid black;
  border-top: 1px solid black;
  box-shadow: -12px 13px 0px 0px black;
}

/* Workout Column */
.col.layout.details {
  background-color: papayawhip;
  flex: 1;
}
.workout-panel{
  margin:35px 15px;
  height: -webkit-fill-available;
  border: 1px solid black;
  box-shadow: -12px 13px 0px 0px black;
  border-radius: 15px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
}
img.workout-album{
  width: 70%;
  border-radius: 25px;
  border: 1px solid black;
}
.workout-details-container{
  display:flex;
  justify-content: center;
  padding: 10px 0;
}
.workout-detail{
  flex: 1;
  width: 20px;
}
.text.detail{
  font-family: fantasy;
}
.text.detail.workout.title{
  font-size: 35px;
  padding: 25px 0;
}
.text.detail.title{
  font-size: 15px;
  padding-bottom: 5px;
}
.text.detail.duration{
  font-size: 25px;
  color: yellowgreen;
}
.intensity.rating{
  font-size: 25px;
}
.intensity.low{
  color:green;
}
.intensity.med{
  color:blue;
}
.intensity.high{
  color:Red;
}
svg.boxing-icon{
  color:red;
  transform: rotate(-90deg)
}
@media(max-width: 986px){
  .col.layout.details {
    display:none;
  }
}

@media(max-width: 1024px){
  .col.layout.details {
    background-color: papayawhip;
    flex: 3;
  }
}
@media(max-width:1024px){
  .col.layout.spotify{
    flex: 4;
    height: -webkit-fill-available;
  }
}

@media (max-width: 1024px){
  .col.layout.playlist{
    text-align: left;
    flex: 4; 
    overflow-y:scroll;
    background-color: palegreen;
  }
}
@media (max-width: 425px){
  .login-panel{
    background-color: whitesmoke;
    align-self: center;
    height: 80vh;
    width: 75vw;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: -12px 13px 0px 0px black;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 425px){
  .login-container{
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
}
@media (max-width: 425px){
  .row.layout{
    display: flex;
    flex-direction: column-reverse;
  }
}
@media(max-width:425px){
  .col.layout.details{
    display:none;
  }
}
@media(max-width:425px){
  .col.layout.spotify{
    flex: 1;
    background-color: palegreen;
  }
}
@media(max-width:425px){
  .col.layout.playlist{
    flex: 8;
  }
}
@media(max-width:425px){
  .playlist.container{
    box-shadow: none;
  }
}
@media(max-width:425px){
  .spotify.container{
    margin: 1% 0 ;
  }
}
@media(max-width:425px){
  #sp-playlist{
    display:none;
  }
}
@media(max-width:425px){
  #spotifyPlayerId{
    height:80px;
    border: none;
    box-shadow: none;
    width: 98%;
  }
}

