.App {
  text-align: left;
}
.row {
  display: flex;
}

.col {
  text-align: center;
  flex: 1;  


}
.col.layout.left{
  flex: 3;
  height: 100vh
}
.col.layout.mid{
  text-align: left;
  flex: 4; 
  height: 100vh; 
  overflow-y:scroll;
}
.col.layout.right {
  background-color: yellow;
  flex: 3
}

.row.track {
  display: flex;
  height: 80px;
  border: solid black;
  border-width: 0px 0px 1px 0px;
}
.col.track.left{
  background-color: green;
  flex: 1;  
}
.col.track.mid{
  text-align: left;
  flex: 5;  
}
.row.track.info {
  display: flex;
  height: 40px;
  border: solid black;
  border-width: 0px 0px 1px 0px;
}
.col.track.right {
  background-color: grey;
  flex: 1
}
audio{
  width:100%
}
.spotify.container{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}