:root{
  --NAVBAR-HEIGHT: 0vh;
  --TRACK-HEIGHT: 100px;
  --TRACK-INFO-HEIGHT: calc(var(--TRACK-HEIGHT) / 3);
}
.App {
  text-align: left;
}
.row {
  display: flex;
}

.col {
  text-align: center;
  flex: 1;  
}

.row.layout{
  height:calc(100vh - var(--NAVBAR-HEIGHT))
}
/* Main Layout components */
.col.layout.playlist{
  text-align: left;
  flex: 1; 
  overflow-y:scroll;
  background-color: palegreen;
}

/* Playlist column styling */
.row.playlist.banner{
  height: 70px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: greenyellow;
  border-bottom: 1px solid lightgrey;
}
.playlist.container{
  margin: 35px 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: -7px 7px 0px 0px black;

}
/* Playlist Banner Styling */
.banner.info.container{
  flex-direction: column;
  padding: 5px;
}
.banner.row{
  display:flex;
}
.banner.row.info{
  font-size: 0.8em;
  justify-content: end
}
img.banner{
  height: 100%;
  width: 25%;
  border-radius: 15px;
  border: 1px solid black;
}
/* Track styling */
.row.track.container:not(:last-child) {
  border-bottom: 1px solid lightgrey;
  background-color: #858585;
  height: var(--TRACK-HEIGHT);
  padding: 5px;
}
.row.track.container:last-child {
  background-color: #858585;
  height: var(--TRACK-HEIGHT);
  padding: 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.col.track.left{
  flex: 1;  
}
.col.track.mid {
  text-align: left;
  flex:5 1;
  flex-direction: column;
  align-items: flex-end;
}
.row.track.info{
  height:var(--TRACK-INFO-HEIGHT);
  padding-left: 5px;
}
p.track-info-title{
  font-size: 0.8em;
  color: white;
  margin-block-end: 0px;
}
p.track-info-artist{
  font-size: 0.8em;
  color: lightgrey;
  margin-block-start: 0px;
}
.col.track.checkbox {
  display: flex;
  justify-content: center;
  align-items: center; 
}
h1.heart.save{
  font-size: 3em;
  user-select: none; /* For Chrome and Opera */
  -ms-user-select: none; /* For Internet Edge and Explorer*/
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
}
.album.image{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
audio{
  width: 100%;
  height: auto;
  border-radius: 90px;
}
img.album.image{
  height:100%;
  border-radius: 15px;
  border: 1px solid white;
}

/* Spotify Columm */
.col.layout.spotify{
  flex: 2;
  height: -webkit-fill-available;
}
.spotify.inner.panel{
  padding-top: 15px;
}
.spotify.container{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  flex-direction: column;
  margin: 35px 0 35px;
  height: -webkit-fill-available;
}
iframe{
  border-right: 1px solid black;
  border-top: 1px solid black;
  box-shadow: -12px 13px 0px 0px black;
}

/* Workout Column */
.col.layout.details {
  background-color: papayawhip;
  flex: 1;
}
.workout-panel{
  margin:35px 15px;
  height: -webkit-fill-available;
  border: 1px solid black;
  box-shadow: -12px 13px 0px 0px black;
  border-radius: 15px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
}
img.workout-album{
  height:350px;
  border-radius: 25px;
  border: 1px solid black;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
